<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-title>Ingreso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
  <ion-row class="ion-justify-content-center ion-padding">
    <ion-title class="ion-margin-bottom" color="warning">Por favor seleccione su cuenta</ion-title>

    <ion-select okText="Aceptar" cancelText="Cancelar" fill="solid" label="Cuenta" label-placement="fixed"  placeholder="Elija su cuenta" (ionChange)="cargarUsuario($event)">
      <ion-select-option color="danger" value="admin">Admin</ion-select-option>
      <ion-select-option value="invitado">Invitado</ion-select-option>
      <ion-select-option value="anonimo">Anónimo</ion-select-option>
      <ion-select-option value="usuario">Usuario</ion-select-option>
      <ion-select-option value="tester">Tester</ion-select-option>
    </ion-select>

  </ion-row>

  <form [formGroup]="formRegistro">
    <ion-grid>
      <ion-row class="ion-justify-content-center">

        <ion-input class="ion-margin-bottom ion-margin-top" fill="solid" label="Correo" label-placement="floating" placeholder="Correo electrónico" type="email" formControlName="email"></ion-input>
        

        <ion-text *ngIf="formRegistro.controls['email'].errors?.['required'] && formRegistro.controls['email'].touched" color="danger">Debe ingresar un email</ion-text>

        
        <ion-input class="ion-margin-bottom ion-margin-top" fill="solid" label="Contraseña" label-placement="floating" placeholder="Contraseña" type="password" formControlName="pass"></ion-input>
        

        <ion-text *ngIf="formRegistro.controls['pass'].errors?.['required'] && formRegistro.controls['pass'].touched" color="danger">Debe ingresar una contraseña</ion-text>

        <ion-text *ngIf="formRegistro.controls['pass'].errors?.['minlength']" color="danger">Debe tener 6 caracteres mínimo</ion-text>

      </ion-row>
      
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button shape="round" color="dark" [disabled]="formRegistro.invalid" expand="block" (click)="login()">Ingresar</ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </form>

  <ion-row class="ion-justify-content-center ion-margin-top">
    <img src="../../../assets/icon/cargacreditoApp.png" class="ion-margin" width="50%" height="50%"/>
  </ion-row>
  
</ion-content>