/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
*{
    font-family: 'Oswald', sans-serif;
}
ion-content{
    --background:#5ab8a2; 
}
ion-toolbar{
    --background: #db4f41;
}
.scanner-ui { display: none; }
.scanner-hide { visibility: visible; }

body.qrscanner { background-color: transparent; }
body.qrscanner .scanner-ui { display: block; }
body.qrscanner .scanner-hide { visibility: hidden; }

ion-alert {
    //background color
    .alert-wrapper.sc-ion-alert-md {      
      background-color: #db4f41;
    }
  
    // Header Text
    .alert-title.sc-ion-alert-md {
      color: var(--ion-text-color, whitesmoke);
    }
  
    // checkbox border color
    [aria-checked="true"].sc-ion-alert-md .alert-radio-icon.sc-ion-alert-md {
      border-color: whitesmoke;
    }
  
    checkbox or radio button color
    .alert-radio-inner.sc-ion-alert-md {
      background-color: whitesmoke !important;
    }
  
    // wrap the text
    .alert-radio-label.sc-ion-alert-md {
      color: var(--ion-text-color, whitesmoke);      
    }
     
    // Checked text color
    [aria-checked="true"].sc-ion-alert-md .alert-radio-label.sc-ion-alert-md {
      color: var(--ion-color-step-850, whitesmoke);
    }
  
    // Button color
    .alert-button-inner.sc-ion-alert-md {
      color: whitesmoke;    
    }
  }
  ion-select, .input-wrapper{
  --background: #db4f41;
  background-color: #db4f41;
}